<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>Contacts</h3>
			
				<p>For any ask:</p>
				<p class="footer-email"><i class="icon-email"></i> example@gmail.com</p>
			
    	</div>

    </div>

    <div id="social-icons">
	    <a class="icon-gplus" href="#">Google+</a>
	    <a class="icon-fb" href="#">Facebook</a>
	    <a class="icon-twitter" href="#">Twitter</a>
	    <a class="icon-pinterest" href="#">Pinterest</a>
	    <a class="icon-youtube" href="#">YouTube</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>. Thanks to Gavick Pro for Perfetta theme.</section>
    </div>
</footer>