{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item">Home</a>
		<a href="/tag/" class="menu__item">Tag 1</a>
		<a href="/tag/" class="menu__item">Tag 2</a>
		<a href="/tag/" class="menu__item">Tag 3</a>
		<a href="/about me" class="menu__item">About me</a>
	</div>
</nav>